# Ignore all cache and temp files
.anaconda/
.cache/
.conda/
.ipython/
.nv/
.bash_history
tmp/
*.pyc
__pycache__/
.ipynb_checkpoints/

# ignore env
miniconda3/

# ignore install mmcv
mmcv/
mmdetection/