# Ignore all cache and temp files
.anaconda/
.cache/
.conda/
.ipython/
.nv/
.bash_history
.python_history
tmp/
*.pyc
__pycache__/
.ipynb_checkpoints/

src/processors/tmp/

# ignore env
miniconda3/

# ignore install mmcv
mmcv/
mmdetection/

# ignore experiment files
vitra/
